p{
color: red;
margin:auto; 
font-size: 15px;
}
.listitem {
color:yellow;
font-size:40px;
margin:auto; 
}


.paragraph {
color:blue;
font-size:2.5em;
margin:auto; 
}

#one{
height: 100px;
width: 150px;
background-color: red;
margin:auto; 
}

#two{
height: 150px;
width: 150px;
background-color: bab111;
margin:auto; 
}

#three{
height: 150px;
width: 150px;
background-color: bbb432;
margin:auto; 
}
#background{
	background-color:#4286f4;
}


.navitem {
list-style-type:none;
display:inline;
padding-right:1.5em;
}

.homeLink:hover {
color:orange;
}
#rightside {
float:right;
width:35%;
}

#leftside {
width:65%;
}

.clearfloat {
clear:right;
}


